{% extends "layout.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="/artists">Artists</a></li>
      <li class="active">Albums</li>
    </ol>
{% endblock %}

{% block content %}
    <script type="text/javascript">
    $(function() {

        $( "#searchbox" ).keypress(function(event) {
            if ( event.which == 13 ) {
                $(location).attr('href',"/albums/page/1?q=" + $("#searchbox").val());
            }
        });

        $( "#search" ).click(function() {
            $(location).attr('href',"/albums/page/1?q=" + $("#searchbox").val());
        });

        //$.get("/albumsList",{id: $("#albumsList").attr("artist")},function(data) {$("#albumsList").html( data );});
    });


    </script>

    <h2>Albums</h2>


{% include 'searcher.html' %}

    <table class="table">
        {% for item in data %}
            <tr>
                <td>{{ item.albumtitle }}</td>
                <td><a href="/songs/album/{{ item._id }} ">View songs</a> </td>
            </tr>
        {% endfor %}
    </table>

{% include 'pager.html' %}

{% endblock %}
