<script>
        $(function() {

            $( "#searchbox" ).keypress(function(event) {
                if ( event.which == 13 ) {
                    $.get( "/artistsList", {where: $("#searchbox").val()}, function(data) {
                        $("#artistsList").html( data );
                    })
                }
            });


            $( "#loadNext" ).click(function() {
                $.get( "/artistsList", {page: parseInt($("#srv").attr("currentpage")) + 1}, function(data) {
                    $("#artistsList").html( data );
                    })
            });
                $( "#loadPrev" ).click(function() {
                $.get( "/artistsList", {page: parseInt($("#srv").attr("currentpage")) - 1}, function(data) {
                    $("#artistsList").html( data );
                    })
            });


            if ($("#loadNext").attr("lnk")) {
                $("#loadNext").removeClass("disabled");
            } else {
                 $("#loadNext").addClass("disabled");
            }

            if ($("#loadPrev").attr("lnk")) {
                $("#loadPrev").removeClass("disabled");
            } else {
                $("#loadPrev").addClass("disabled");
            }

        });
</script>

<div class="input-group input-group-sm">
    <span class="input-group-addon">search</span>
    <input id="searchbox" class="form-control"  >
</div>

<table class="table">
    {% for item in data.data %}
        <tr>
            <td><a href="/albums/{{ item._id }} ">{{ item.albumartist }}</a> </td>
        </tr>
    {% endfor %}
</table>



<ul class="pager">
    <li id="loadPrev" lnk="{{ data.has_previous }}" class="previous"><a href="#">&larr; Previous</a></li>
    <li id="loadNext" lnk="{{ data.has_next }}" class="next"><a href="#">Next &rarr;</a></li>
</ul>
<div id="srv" currentpage="{{ data.page }}"></div>


