{% extends "layout.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="/artists">Artists</a></li>
      <li><a href="/albums/page/1">Albums</a></li>
      <li class="active">Songs</li>
    </ol>
{% endblock %}

{% block content %}
    <script type="text/javascript">
    $(function() {

        $( "#searchbox" ).keypress(function(event) {
            if ( event.which == 13 ) {
                $(location).attr('href',"/songs/page/1?q=" + $("#searchbox").val());
            }
        });

        $( "#search" ).click(function() {
            $(location).attr('href',"/songs/page/1?q=" + $("#searchbox").val());
        });




    });


    </script>

    <h2>Songs</h2>



{% include 'searcher.html' %}



<table class="table">
    {% for item in data.data %}
        <tr>
            <td>{{ item.tracknumber }}</td>
            <td>{{ item.songtitle }}</td>
            <td>{{ item.album.albumtitle }}</td>
            <td>{{ item.artist }}</td>
            <td><a class="song" id="{{ item._id }}" href="">Play</a> </td>
            <td><a href="/albums?id={{ item.id }} ">View Albums</a> </td>
        </tr>
    {% endfor %}
</table>

{% include 'pager.html' %}

{% endblock %}
